body {
  background-color: #000;
  color: #fff;
}

.nav-item a {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  text-transform: uppercase;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #000;
}

.nav-item a:hover,
.navbar-nav .nav-link.show,
#navbarDropdownMenuLink:hover,
#navbarDropdownMenuLink:focus {
  color: #fff;
}

.dropdown-menu {
  background-color: #000;
}

.progress-bar {
  background-color: #e9d356;
}

/* Bootstrap button css variable override */
.btn {
  --bs-btn-bg:    #e9d356;
  --bs-btn-color: #000;
  --bs-btn-border-color: #e9d356;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #bfad46;
  --bs-btn-hover-border-color: #bfad46;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #bfad46;
  --bs-btn-active-border-color: #bfad46;
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #bfad46;
  --bs-btn-disabled-border-color: #bfad46;
}